---
import Layout from "../components/layouts/Layout.astro";
import { published } from "../data/post";
import PostCard from "../components/PostCard.astro";

const markdownFiles = await Astro.glob("../posts/*.mdx");
const posts = published(markdownFiles).filter((p) => p.featured);
---

<Layout>
  <div>
    <h1 class="mb-[-48px] lg:mb-[-48px]">
      I'm <span
        class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-base-content to-indigo-500 dark:from-base-content dark:to-indigo-300"
        >Graziano Casto</span
      ><br /><span
        style="font-size: 0.6em;"
        class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-base-content to-indigo-500 dark:from-base-content dark:to-indigo-300"
      >
        Your friendly neighborhood <span id="typed-short-description"> </span>
      </span>
    </h1>
  </div>

  <div
    style="margin-top: 1em;"
    class="flex-col items-center justify-center h-full"
  >
    <div
      class="mt-[-24px] mb-4 flex flex-col sm:flex-row items-start justify-center sm:items-center gap-4 w-full"
    >
      <div class="flex flex-row items-center justify-center w-full xs:w-1/2">
        <img src="/assets/home.png" alt="me_avatar" />
      </div>
      <h3 style="margin-left: 0.1em;" class="w-full">
        Bringing{" "}
        <span
          class="highlight-heading animate-box-shadow dark:animate-winter-box-shadow"
          >products</span
        >
        to life, leading{" "}
        <span
          class="highlight-heading animate-box-shadow dark:animate-winter-box-shadow"
          >teams</span
        > to success - that's what drives me. Let's turn your ideas into reality!
      </h3>
    </div>
    <div class="text-xl font-semibold">
      Leading teams to product success: that's my expertise! With four years in
      the software industry and a passion for Agile and Software Craftsmanship,
      my diverse background in test management and software engineering gives me
      a unique perspective to drive product development. Check out my blog to
      unlock the secret for success in product management!
    </div>
  </div>

  <div class="flex flex-col items-center justify-center h-full">
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-r from-base-content to-indigo-500 dark:from-base-content dark:to-indigo-300"
    >
      Featured Blog Posts
    </h2>
    <div id="carousel" style="font-size: medium; transition: all 0.3s ease;">
      {
        posts.map((post: any, i: any) => (
          <PostCard
            dataId={i}
            classStyle={
              i == 0
                ? `flex flex-col items-center sm:pb-8 sm:flex-row-reverse sm:gap-10`
                : `flex flex-col items-center sm:pb-8 sm:flex-row-reverse sm:gap-10 hidden`
            }
            post={post}
          />
        ))
      }
    </div>
    <div class="btn-group grid grid-cols-2 w-2/3 sm:w-1/2 mx-auto mt-4">
      <div id="prev-btn" class="btn btn-outline">&lt;</div>
      <div id="next-btn" class="btn btn-outline">&gt;</div>
    </div>
  </div>
</Layout>
<script>
  import Typewriter from "typewriter-effect/dist/core";
  document.addEventListener("DOMContentLoaded", () => {
    const tw = new Typewriter(
      document.querySelector("#typed-short-description"),
      {
        loop: true,
        autoStart: true,
      }
    );
    tw.typeString("Product Owner")
      .pauseFor(2000)
      .deleteChars(13)
      .typeString("Software Engineer")
      .pauseFor(2000)
      .start();
  });
</script>
<script>
  const prev: any = document.querySelector("#prev-btn");
  const next: any = document.querySelector("#next-btn");
  const items: any = document.querySelector("#carousel")?.children;

  const totalItems = items?.length;
  console.log(totalItems);
  let index = 0;
  prev.classList.add("btn-disabled");

  prev?.addEventListener("click", () => {
    nextItem("prev");
  });

  next?.addEventListener("click", () => {
    nextItem("next");
  });

  function nextItem(direction: any) {
    if (direction == "next") {
      items[index].classList.add("hidden");
      if (index == totalItems - 1) {
        items[0].classList.remove("hidden");
        index = 0;
      } else {
        items[index + 1].classList.remove("hidden");
        prev.classList.remove("btn-disabled");
        index++;
      }
    } else {
      items[index].classList.add("hidden");
      items[index == 0 ? totalItems - 1 : index - 1].classList.remove("hidden");
      if (index != 0) {
        index--;
      } else {
        index = totalItems - 1;
      }
    }
  }
</script>
