---
import Layout from '../components/layouts/Layout.astro';
---

<Layout>
  <div class='flex flex-row items-center justify-start mb-4 md:mb-8'>
    <span
      id='typed'
      class='text-4xl font-extrabold lg:text-5xl text-base-content'
      >Hello Everyone</span
    >
    <span class='not-prose ml-3 animate-waving-hand'>
      <img
        src='/assets/waving-hand.webp'
        alt='waving hand'
        class='w-12 h-12'
        srcset='
          /assets/waving-hand.webp 1x,
          /assets/waving-hand.webp 2x
        '
      />
    </span>
  </div>
  <h1 class='mb-[-48px] lg:mb-[-48px]'>
    I'm <span
      class='font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-base-content to-indigo-500 dark:from-base-content dark:to-indigo-300'
      >Graziano Casto</span
    >
  </h1>
  <h2>
    Creating{' '}
    <span
      class='highlight-heading animate-box-shadow dark:animate-winter-box-shadow'
      >successful products</span
    >
    and{' '}
    <span
      class='highlight-heading animate-box-shadow dark:animate-winter-box-shadow'
      >leading teams</span> to deliver them: that's what I do as a{' '}
    <span
      class='highlight-heading animate-box-shadow dark:animate-winter-box-shadow'
      >Product Owner.</span
    >
  </h2>
  <div class='text-xl font-semibold'>
    Guide teams to deliver successful products: that's my expertise as Product Owner with 4 years of experience in the software industry. My passion for Agile Culture and Software Craftsmanship, combined with my diverse background in test management and software engineering, gives me a unique perspective to drive product development. Let's achieve your goals together, check out my blog for more insights.  </div>
  <div
    class='w-[275px] h-[275px] sm:w-[350px] sm:h-[350px] md:w-[450px] md:h-[450px] mx-auto mt-4 bg-laptop'
  >
    <!-- Laptop image here -->
  </div>
</Layout>
